<body>
    <div>
        <div>Name</div>
        <div><%= bookingDetails.name %></div>
    </div>
    <div>Contact</div>
    <div><%= bookingDetails.contact %></div>
    <div>Ticket Amount</div>
    <div><%= bookingDetails.ticketNo %></div>
    <div>Start Time</div>
    <div><%= bookingDetails.checkIn %></div>
    <div>End Time</div>
    <div><%= bookingDetails.checkOut %></div>
</body>